{% macro description() %}
<div>
	<p>this tool is a printer, it prints things, also its a 3d printer which is cool because 3d stands for 3-Dimensional and it can print in 3 dimensions</p>
</div>
{% endmacro %}



{% macro level(level) %}
<div>
	{% if level > 0 %}
	{% endif %}
	{% if level > 1 %}
	{% endif %}
	{% if level > 2 %}
	{% endif %}
	{% if level > 3 %}
	{% endif %}
	{% if level > 4 %}
	{% endif %}
</div>
{% endmacro %}



{% macro tutorials() %}
<div>
	<p>How to use a 3D printer: be good at printing</p>
</div>
{% endmacro %}


{% macro resources(level) %}
<div>
	{% if level > 0 %}
	{% endif %}
	{% if level > 1 %}
	{% endif %}
	{% if level > 2 %}
	{% endif %}
	{% if level > 3 %}
	{% endif %}
	{% if level > 4 %}
	{% endif %}
</div>
{% endmacro %}