{% extends '/public/main.html' %}
{% block content %}
<div class="section" id="vinylcutter">
    <div class="information-tag">
        <div style="width: 70%; float: left;">
            <h1 class="welcome-font" style="font-size: 140px;">Vinyl Cutter.</h1>
            <p class="welcome-description">A vinyl cutter is a type of computer controlled printer-esque machine. It is run with a separate computer
                that controls the movement of a sharp blade that cuts out shapes from adhesive plastic (vinyl).</p>
        </div>
        <div class="list">
            <ul>
                <label for="novice"><li><a href="..\docs\printing_3d.docx" target="_blank">Vinyl Cutting by Gavin Uberti</a></li></label>
                <label for="competent"><li><a href="http://www.instructables.com/id/Vinyl-Cutting-for-begginers/" target="_blank">Instructables</li></label>
                <label for="proficient"><li><a href="https://inkscape.org/en/download/" target="_blank">Inkscape</a></li></label>
                <label for="expert"><li><a href="http://makezine.com/2015/12/15/34-things-didnt-realize-can-vinyl-cutter/" target="_blank">MakeZine</a></li></label>
            </ul>
        </div>
    </div>
</div>
<div class="section" id="vinylcutter">
    <div class="tocenter">
        <div class="container">
            <div class="col_fifth">
                <div class="at-work-process position-relative overflow-hidden text-center">
                    <div class="at-work-process-text">
                        <span class="at-work-process-number">01</span>
                        <span class="at-work-process-number-text">Novice</span>
                        <div class="at-separator-thick"></div>
                    </div>
                    <div class="at-work-process-details">
                        <i class="fa fa-battery-empty"></i><span>-You are already a novice. Congrats!</span>
                    </div>
                </div>
            </div>
            <div class="col_fifth text-center">
                <div class="at-work-process position-relative overflow-hidden">
                    <div class="at-work-process-text">
                        <span class="at-work-process-number">02</span>
                        <span class="at-work-process-number-text">Competent</span>
                        <div class="at-separator-thick"></div>
                    </div>
                    <div class="at-work-process-details">
                        <i class="fa fa-battery-quarter"></i>
                        <span>-Export a file from Inkscape/Photoshop.<br><br></span>
                        <span>-Know how to position the wheels.<br><br></span>
                        <span>-Know how to select the edge<br><br>.</span>
                        <span>-How to properly cut the vinyl on the machine.<br><br></span>
                        <span>-Know how to clean a sticker cut.<br><br></span>
                        <span>-Use transfer tape.<br><br></span>
                        <span>-Apply a sticker.</span>
                    </div>
                </div>
            </div>
            <div class="col_fifth text-center">
                <div class="at-work-process position-relative overflow-hidden">
                    <div class="at-work-process-text">
                        <span class="at-work-process-number">03</span>
                        <span class="at-work-process-number-text">Proficient</span>
                        <div class="at-separator-thick"></div>
                    </div>
                    <div class="at-work-process-details">
                        <i class="fa fa-battery-half"></i>
                        <span>-Differentiate sticker vinyl from t-shirt vinyl.<br><br></span>
                        <span>-Know how to change and load vinyl.<br><br></span>
                        <span>-Change the pressure settings.<br><br></span>
                        <span>-Proper station cleanup.<br><br></span>
                        <span>-Supervise and advise others (grade 9-12).</span>
                    </div>
                </div>
            </div>
            <div class="col_fifth text-center end">
                <div class="at-work-process position-relative overflow-hidden">
                    <div class="at-work-process-text">
                        <span class="at-work-process-number">04</span>
                        <span class="at-work-process-number-text">Advanced</span>
                        <div class="at-separator-thick"></div>
                    </div>
                    <div class="at-work-process-details">
                        <i class="fa fa-battery-three-quarters"></i>
                        <span>-Design and create a project that improves the MakerSpace.<br><br></span>
                        <span>-Troubleshoot motor and connection errors.<br><br></span>
                        <span>-How to make multi-colored stickers.</span>
                    </div>
                </div>
            </div>
            <div class="col_fifth text-center end">
                <div class="at-work-process position-relative overflow-hidden">
                    <div class="at-work-process-text">
                        <span class="at-work-process-number">05</span>
                        <span class="at-work-process-number-text">Expert</span>
                        <div class="at-separator-thick"></div>
                    </div>
                    <div class="at-work-process-bottom">
                        <i class="fa fa-battery-full"></i>
                        <span>-Know how to use the t-shirt press (grade 9-12).</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
