<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MAKE@EPS</title>


    {% block style %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="\css\nav.css">
    <link rel="stylesheet" type="text/css" href="\css\skilltree.css">
    <link rel="stylesheet" type="text/css" href="\css\bsStyle.css">
    <link rel="stylesheet" type="text/css" href="\css\style.css">
    {% endblock %}

  </head>

  <body>
    <!----Navbar---->
    <nav class="main-nav">
      <a href="/" style="float:left;">Home</a>
      <div class="dropdown">
        <a href="#machines">Equipment</a>
        <div class="dropdown-content">
          <a href="/tool/printers_3d">3D Printers</a>
          <a href="/tool/lasers">Laser Cutter</a>
          <a href="/tool/power_tools">Power Tools</a>
          <a href="/tool/hand_tools">Hand Tools</a>
          <a href="/tool/soldering">Soldering Iron</a>
          <a href="/tool/sewing_machine">Sewing Machine</a>
          <a href="/tool/vinyl_cutter">Vinyl Cutter</a>
        </div>
      </div>
      {% if admin %} <a href="/admin">Admin</a> {% endif %}
      <ul style="float:right;margin:0px;list-style: none;">
        <li style="float:right;">
          {% if user %}
            You are logged in as {{user}}
            <a onclick="logout()">Log Out</a>
          {% else %}
            <a data-toggle='modal' data-target='#loginmodal'>Log In</a>
          {% endif %}
        </li>
      </ul>
    </nav>
    <!----Navbar---->


    <!----Log in modal---->
    <div class="modal fade" id="loginmodal" role="dialog">
      <div class="modal-dialog">
      	<!-- Modal content-->
        <div class="modal-content modal-sm" style="margin: 0 auto">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
      	    <h4 class="modal-title text">Log In</h4>
          </div>
          <div class="modal-body">
            <p class="text">
              <label style="padding:5px" class="image-replace cd-email" for="signin-email">Username</label>
      	      <input id="email" type="email" placeholder="E-mail">
      	    </p>

      	    <p class= "text">
      	      <label style="padding:5px" class="text">Password</label>
      		    <input  type="password" placeholder="Password" id="password" class="masked" name="password" />
      	    </p>

  			    <div align="center";>
      	      <button class="btn btn-success" onclick="login()">Log In</button>
      	    </div>
          </div>
        </div>
      </div>
    </div>
    <!----Log in modal---->

    {%block content %}{% endblock %}


  </body>
  <script src='/js/http.js'></script>
  <script src='/js/global.js'></script>
  {% block script %}{% endblock %}
</html>
