{% extends "/public/main.html" %}
{% block style %}
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="bower_components/polymer/polymer.html">
  <link rel="import" href="bower_components/paper-input/paper-input.html">
  <link rel="import" href="bower_components/paper-button/paper-button.html">
  <link rel="import" href="bower_components/paper-material/paper-material.html">
  <link rel="import" href="bower_components/iron-image/iron-image.html">
  <link rel="import" href="bower_components/paper-toast/paper-toast.html">


  <link rel="stylesheet" type="text/css" href="\css\bsStyle.css">
  <link rel="stylesheet" type="text/css" href="\css\admin.css">
  <link rel="stylesheet" type="text/css" href="\css\nav.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}




{% macro skill(tool) %}
  <div class="skill" id='{{ tool }}'>
    <span>{{ tool }}</span>
    <span class='label'></span>
    <span class='level'></span>
    <a href='#' class='up' onclick='uplevel("{{ tool }}")'>Up</a>
  </div>
{% endmacro %}

{% block content %}
  <div class="wrap">
    <div class="searchform group">
      <label for="search-box">
        <span class="fa fa-2x fa-search"></span>
      </label>

      <input type="search" id="search-box" placeholder="Search for a user">
    </div>
    <h2 style="text-align: center; color:white;" id='studentName'>Viewing stats for: Student name here</h2>
    <div class="skills">

      {% for tool in tools %}
        {{ skill(tool) }}
      {% endfor %}

      {# <div class="skill">
        <span>3D Printers</span>
        <span class="label">Level</span>
        <span class="level">5 - Expert</span>
        <a href="#" class="up">Up</a>
      </div>
      <div class="skill">
        <span>Laser Cutter</span>
        <span class="label">Level</span>
        <span class="level">4 - Advanced</span>
        <a href="#" class="up">Up</a>
      </div>
      <div class="skill">
        <span>Vinyl Cutter</span>
        <span class="label">Level</span>
        <span class="level">3 - Proficient</span>
        <a href="#" class="up">Up</a>
      </div>
      <div class="skill">
        <span>Power Tools</span>
        <span class="label">Level</span>
        <span class="level">2 - Competent</span>
        <a href="#" class="up">Up</a>
      </div>
      <div class="skill">
        <span>Hand Tools</span>
        <span class="label">Level</span>
        <span class="level">1 - Novice</span>
        <a href="#" class="up">Up</a>
      </div>
      <div class="skill">
        <span>Soldering Iron</span>
        <span class="label">Level</span>
        <span class="level">5 - Expert</span>
        <a href="#" class="up">Up</a>
      </div>
      <div class="skill">
        <span>Sewing Machine</span>
        <span class="label">Level</span>
        <span class="level">5 - Expert</span>
        <a href="#" class="up">Up</a>
      </div> #}
    </div>
  </div>
{% endblock %}
{% block script %}
<script>


  //initialize data with Jinja replacements
  let userData = {user: '{{user}}', levels: {}}
  {% for tool in tools %}
    userData.levels['{{tool}}'] = {{ levels[tool] }};
  {% endfor %}

  fillUserData();

  function levelString(level) {
    switch(Number(level)) {
      case 1:
        return '1 - Novice';
      case 2:
        return '2 - Competent';
      case 3:
        return '3 - Proficient';
      case 4:
        return '4 - Advanced';
      case 5:
        return '5 - Expert';
      default:
        return 'missing'
    }
  }
  function fillUserData() {
    document.getElementById('search-box').value = '';
    document.getElementById('search-box').blur();
    document.getElementById('studentName').innerHTML = 'Viewing stats for: ' + userData.user;

    let skills = document.getElementsByClassName('skill');
    for(let i = 0; i < Object.keys(userData.levels).length; i++) {
        let key = Object.keys(userData.levels)[i];
        skills[key].children[2].innerHTML = levelString(userData.levels[key]);
    }
  }


  function uplevel(tool) {
    httpClient.post('admin/data', {
      user: userData.user,
      tool: tool,
      level: userData.levels[tool] + 1
    }, (xhr) => {
      if (xhr.readyState == 4) {
        if (xhr.status == 200) requestUserData(userData.user);
      }
    });
  }

  function requestUserData(username) {
    //ampersand for delimeters
    httpClient.get('admin/data?user='+username, (xhr) => {
      if (xhr.readyState == 4) {
        if (xhr.status == 404) showAlert('No Database entry for ' + username + '.\nLog in as ' + username + ' to create one.');
        if (xhr.status == 200) {
          Object.assign(userData, JSON.parse(xhr.response));
          fillUserData();
        }
      }
    });
  }

  function showAlert(text) {window.alert(text);}

  let search = document.getElementById('search-box');
  search.addEventListener('keyup', (e) => {
    if (e.which == 13 || e.keyCode == 13) {
      requestUserData(search.value);
    }
  });






  

</script>
{% endblock %}
