{% extends "/public/main.html" %}
{% block style %}
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="bower_components/polymer/polymer.html">
  <link rel="import" href="bower_components/paper-input/paper-input.html">
  <link rel="import" href="bower_components/paper-button/paper-button.html">
  <link rel="import" href="bower_components/paper-material/paper-material.html">
  <link rel="import" href="bower_components/iron-image/iron-image.html">
  <link rel="import" href="bower_components/paper-toast/paper-toast.html">


  <link rel="stylesheet" type="text/css" href="\css\bsStyle.css">
  <link rel="stylesheet" type="text/css" href="\css\admin.css">
  <link rel="stylesheet" type="text/css" href="\css\nav.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}




{% macro skill(tool) %}
  <div class="skill" id='{{ tool }}'>
    <a href='#' onclick='requestToolData("{{ tool }}");'><span>{{ tool }}</span></a>
    <span class='label'></span>
    <span class='level'></span>
    <a href='#' class='up' onclick='uplevel("{{ tool }}")'>Up</a>
    <a href='#' class='up' onclick='downlevel("{{ tool }}")'>Down</a>
  </div>
{% endmacro %}


{% block content %}
  <div class="wrap" id='student-view'>

    <div class="searchform group">
      <label for="search-box">
        <span class="fa fa-2x fa-search"></span>
      </label>
      <input type="search" id="search-box" placeholder="Search for a user">
    </div>

    <h2 style="text-align: center; color:white;" id='studentName'>Viewing stats for: Student name here</h2>
    <div class="skills">
      {% for tool in tools %}
        {{ skill(tool) }}
      {% endfor %}
    </div>
  </div>


  <div class='wrap' id='tool-view' style='display:none'>
    <div id='tableDiv'>

      <div id='tbl-header'>
        <table cellPadding="0" cellSpacing="0" border="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Graduation Year</th>
              <th>Certification Level</th>
            </tr>
          </thead>
        </table>
      </div>

      <div class='tbl-content'>
        <table cellPadding="0" cellSpacing="0" border="0">
          <tbody id='students'>
          </tbody>
        </table>
      </div>

    </div>
  </div>

{% endblock %}
{% block script %}
<script>
  let view = {
    current: 'student-view',
    switch: (id) => {
      document.getElementById(view.current).style.display = 'none';
      document.getElementById(id).style.display = 'block';
      view.current = id;

    }
  };

  //initialize data with Jinja replacements
  let userData = {user: '{{user}}', levels: {}}
  {% for tool in tools %}
    userData.levels['{{tool}}'] = {{ levels[tool] }};
  {% endfor %}

  fillUserData();

  function levelString(level) {
    switch(Number(level)) {
      case 0:
        return '0 - Uncertified';
      case 1:
        return '1 - Novice';
      case 2:
        return '2 - Competent';
      case 3:
        return '3 - Proficient';
      case 4:
        return '4 - Advanced';
      case 5:
        return '5 - Expert';
      default:
        return 'missing'
    }
  }
  function fillUserData() {
    document.getElementById('search-box').value = '';
    document.getElementById('search-box').blur();
    document.getElementById('studentName').innerHTML = 'Viewing stats for: ' + userData.user;

    let skills = document.getElementsByClassName('skill');
    for(let i = 0; i < Object.keys(userData.levels).length; i++) {
        let key = Object.keys(userData.levels)[i];
        skills[key].children[2].innerHTML = levelString(userData.levels[key]);
    }
    view.switch('student-view');
  }
  function requestUserData(username) {
    //ampersand for delimeters
    httpClient.get('admin/data?user='+username, (xhr) => {
      if (xhr.readyState == 4) {
        if (xhr.status == 404) showAlert('No Database entry for ' + username + '.\nLog in as ' + username + ' to create one.');
        if (xhr.status == 200) {
          Object.assign(userData, JSON.parse(xhr.response));
          fillUserData();
        }
      }
    });
  }

  let toolData = {};
  function userString(user) {
    return '<tr> <td>'
      + user.username+'</td> <td>'
      + user.gradYear+'</td> <td>'
      + user.level+'</td> </tr>';
  }
  function fillToolData() {
    let students = document.getElementById('students');
    students.innerHTML = '';
    for (let i = 0; i < Object.keys(toolData.users).length; i++) {
      students.appendChild(userString(toolData.users[i]));
    }
  }
  function requestToolData(tool) {
    httpClient.get('admin/data?tool=' + tool, (xhr) => {
      if (xhr.readyState == 4) {
        if (xhr.status == 404) showAlert('No Database entry for ' + tool);
        if (xhr.status == 200) {
          console.log(JSON.parse(xhr.response))
          //toolData = JSON.parse(xhr.response));
          //fillToolData();
        }
      }
    });
  }



  function uplevel(tool) {
    httpClient.post('admin/data', {
      user: userData.user,
      tool: tool,
      level: userData.levels[tool] + 1
    }, (xhr) => {
      if (xhr.readyState == 4) {
        if (xhr.status == 200) requestUserData(userData.user);
      }
    });
  }
  function downlevel(tool) {
    httpClient.post('admin/data', {
      user: userData.user,
      tool: tool,
      level: userData.levels[tool] - 1
    }, (xhr) => {
      if (xhr.readyState == 4) {
        if (xhr.status == 200) requestUserData(userData.user);
      }
    });
  }

  function showAlert(text) {window.alert(text);}

  let search = document.getElementById('search-box');
  search.addEventListener('keyup', (e) => {
    if (e.which == 13 || e.keyCode == 13) {
      requestUserData(search.value);
    }
  });








</script>
{% endblock %}
